<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div id="app" class="container">

      <div>
        <h2> i componenti su vue  </h2>
        <div> componente esempio  <br>
        <button-counter></button-counter>
        <br>
        <div> Poiche i componenti sono instanze vue riutilizzabili  , accetttano le stesse opzioni 
        <span class="text-primary"> di new Vue , come data ,computed , watch ,  methods  e gli hook del ciclo
        di vita  </span> le uniche eccezzioni sono alcune opzioni specifiche della radice come
        <span class="text-primary"> el </span> </div>
        </div>
      </div>
      <hr><br>

      <div>
        <h2> Riutilizzo dei componenti su vue  </h2>
        <div> i componeneti posso essere riutilizzati tutte le volte che vuoi   <br>
        <button-counter></button-counter> <br>
        <button-counter></button-counter> <br>
        <button-counter></button-counter> <br>
        <br>
        <div> Si noti che quando si fa click <span class="text-primary"> sui pulsanti ognuno mantiene il 
        propio count . </span> Questo perche ogni volta che <span class="text-primary"> usi un componente 
        ne viene creata una nuova instanza </span> </div>
        </div>
      </div>
      <hr><br>

      <div>
        <h2> <span class="text-primary"> Data </span> deve essere una funzione </h2>
        <div> quando abbiamo <span> definito il </button-counter> componente </span> , potresti aver 
        notato che data non e stato fornito direttamente un oggetto , come questo :  <br>
          <div>
            data : { <br>
              count : 0 <br>
            } <br>
          </div>
          <div> invece l'opzione <span class="text-primary"> data di un componente deve 
          essere una funzione </span> , in modo che ogni instanza possa mantere una copia
          indipendente dell'oggetto dati restituito  </div>
          <div> 
            data : function(){ <br>
              return { <br>
                count : 0 <br>
              }
            } <br>
          </div>
          <div> Se vue non avesse questa regola , fare click su un pulsante influirebbe sui dati di tutte 
          le altre instanze . <span class="text-primary"> adesso vue ha un controllo su questo ,
          qundi se data non e una funzione vue va in errore .</span>
          </div>
        </div>
      </div>
      <hr><br>

      <div>
        <h2> Organizzazione dei componenti  </h2>
        <div>E comune che un app sia organizzata in un albero di componenti nidificati : 
          Ad esempio potresti avere componenti per un'intestazione , una barra laterale e 
          un'area di contenuto ciascuno contenete in genere altri componenti per collegamenti 
          di navigazione , post di blog e cosi via . 
          Per utilizzare questi componenti e necessario registrarli in modo che Vue li conosca . 
        </div> 
          <div>  i componenti possono essere registrati a <span class="text-primary">  
          livello globale o locale . </span> <br>
          Per registrare un componente a <span class="text-primary">  livello globale usiamo il Vue.component </span> <br>
          Per registrare un componeente a <span class="text-primary"> livello locale usiamo   </span> </div>
     
        <hr>
        <h2> Vue component </h2>
        <div>
          Vue.component('my_component_name',{ <br>
            // ..... option ...... <br>
          }) <br>
        </div>
        <hr>
        <div> i componenti registrati a livello globale possono essere usati da 
          <span class="text-info"> qualunque instanza Vue radice ( new Vue ) </span> 
          creata in seguito e anche all'interno di tutti i sotto componenti  dell'albero
          dei componeti di quell'instanza Vue  
        </div>
      </div>
      <hr><br>

      <div>
        <h2> Passaggio di dati a componenti figli con prop   </h2>
        <div> Gli oggetti di scena sono degli attributi dinamici che puoi registrare su un componente.
          Quando un valore viene passatto ad un attributo prop , diventa una propita su quell'instanza del componente.
          Per passare un titolo sul nostro componentedel posto sul blog , possiamo includerlo nell'elenco 
          degli oggetti di scena accettati da quel componente , <span class="text-primary"> utilizzando l'opzione props : </span>  <br>
          Vue.component('blog-post', {  <br>
            props: ['title'], <br>
            template: '<h3>{{ title }}</h3>' <br>
          }) <br>
          e possibile passare dati personalizzati alla prop di ogni componete con il seguente codice : <br> 
          < blog-post title="My journey with Vue" >< /blog-post> <br> 

        </div>
        <blog-post title="My journey with Vue" ></blog-post>
        <blog-post title="Blogging with Vue" ></blog-post>
        <blog-post title="Why Vue is so fun" ></blog-post>
        <hr>
        <div> <h4 class="text-danger"> in un app tipica avra dei post dentro data , come sotto (vedi posts) </h4> </div>
        <blog-post 
        v-for="post in posts" 
        v-bind:key="post.id"
        v-bind:title="post.title"
        ></blog-post>
        <div> Sopra , vedrai che possiamo usare <span class="text-primary"> il v-bind  per passare dinamicamente </span>
          gli oggetti di scena . Cio e particolarmentte utile quando non si conosce il contenuto esatto di cui si vuole
          eseguire il rendering in anticipo , ad esempio <span class="text-danger">  quando si recuperano i post da un API 
          </span> .

        </div>
      </div>
      <hr><br>

      <div>
        <h2> Un singolo elemento radice </h2>
        <div> 
          Quando crei un < blog-post>< /blog-post> componente il tuo modello alla fine conterrà piu del semplice titolo : <br>
          < h3> { { title } } < /h3> <br>
          Per lo meno ti consigliamo di includere il contenuto del post  : 
          < h3> { { title }} < /h3>
          < div v-html="content"></ div>
          Se lo provi ad inserire nel componente Vue mostrerà un errore spiegando che  
          <span class="text-primary">  ogni componente deve avere un singolo elemento radice </span> . Puoi correggere 
          questo errore avvolgendo il modello in un elemento padre , ad esempio : <br>
          < di v class="blog-post" > <br>
          < h3> {{ title }} < /h3>
          <  di v v-html="content"> < /div>
          < /div>
          <div> 
              Man mano che il componente cresce e probabile che non avremo bisogno solo del titolo e del contenuto del post , 
              ma anche della data di pubblicazione dei commenti ed altro ancora . Definire un supporto per ogni per ogni 
              informazione correlata pottrebbe diventare moltto fastidioso : 
              < blog-post  <br>
              v-for="post in posts" <br>
              v-bind:key="post.id" <br>
              v-bind:title="post.title" <br>
              v-bind:content="post.content" <br>
              v-bind:publishedAt="post.publishedAt" <br>
              v-bind:comments="post.comments" <br>
              >< /blog-post> <br>
              <hr>
              Qindi questo potrebbe essere un buon momneto per il refactoring del < blog-post>< /blog-post> componente
              per accettare <span class="text-primary"> post </span> invece  <span class="text-danger"> un singolo oggetto di scena </span> <br> 
              < blog-post > <br>
              v-for="post in posts" <br>
              v-bind:key="post.id" <br>
              v-bind:post="post" <br>
              < /blog-post > <br>
              <blog-post
                v-for="post in posts"
                v-bind:key="post.id" 
                v-bind:post="post" 
              ></blog-post>
          </div>
        </div>
      </div>
      <hr><br>

      <div>
        <h2> Ascolto degli eventi su un componente figlio  </h2>
        <div> 
          Mentre sviluppiamo il nostro <span class="text-primary">   < blog-post > alcune funzionalita potrebbero  </span>  
          richiedere la comunicazione di back-up al genitore . Ad esempio  , 
          potremmo decidere di includere una funzione di accessibilita per ingrandire il 
          testo dei post del blog , lasciando il resto della pagina alla sua dimensione predefinita . 
          Nel genitore possiamo supportare questa funzione aggiungendo
          <span class="text-primary"> postFontSize propieta ai dati .</span>  <br>
            <div v-bind:style="{ fontSize : postFontSize + 'em' } ">
              <div :style="{ fontSize: postFontSize + 'em' }">
              <blog-post
                v-for="post in posts"
                v-bind:key="post.id" 
                v-bind:post="post" 
            ></blog-post>
            </div>
            <hr><br>
            <h3 class="text-danger">  enlarge-text work only in this section ---------------  </h3>
            <div>Quando clicchiamo sul bottono dobbiamo comunicare al genitore che dovrebbe 
              ingrandire il testo di tutti i post . Fortunatamente le instanze vue forniscono
              un set di eventi peersonalizzato per risolvere questo problema  . Il genitore puo 
              scegliere di ascoltare qualsiasi eveneto sull'instnza del componente figlio con 
              <span class="text-primary"> v-on </span> , propio come faremo per un evento DOM nativo
              < blog-post
              ... 
              v-on:enlarge-text="postFontSize +=0.1"
              > < /blog-post>

              <blog-post
                v-for="post in posts"
                v-bind:key="post.id" 
                v-bind:post="post" 
                v-on:enlarge-text="postFontSize += 0.1"
              ></blog-post>
            Grazie v-on:enlarge-text="postFontSize += 0.1 ", all'ascoltatore il genitore ricevera 
            l'evento e il postFontSize valore di aggiornamento 
            </div>
        </div>
      </div>

    </div>



  <div id="app_2" class="container">

    <div>
      <h2> Seconda instanza vue bind su app_2 </h2>
      <div> componente esempio  <br>
      <button-counter></button-counter>
      </div>
    </div>
    <hr><br>

  </div>

<!-- bootstrap 5 cdn js -->
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

</script>
<!-- jqeruy cdn  -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>
  <!-- vue js cdn  -->
<script 
  src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js">
</script>   
<!-- script vue -->
<script>
// Definisco un nuovo componente chiamato button-counter 
Vue.component('button-counter' , {
  data : function () {
    return {
      count : 0
    } 
  },
  template :  `
    <div> 
      <button v-on:click="count++" type="button" class="btn btn-info"> 
        Mi hai cliccato {{ count }} volte 
      </button>
    </div>
  `
});
//componente blog-post
Vue.component('blog-post',{ 
  props : ['post'] ,
  template : ` 
    <div class="blog-post"> 
      <hr>
      <h3> {{ post.id }} </h3>
      <h3> {{ post.title }} </h3>
      <button v-on:click="$emit('enlarge-text')">
       Enlarge text
      </button>
      <div v-html="post.content"> </div>
      <div v-html="post.publishedAt"> </div>
      <div v-html="post.comments"> </div>
    </div>
   `,
});

//i componenti devono essegere registrati prima che si effettua il bind con app o non saranno registrati
//bastava la linea sotto commentatta ma definiamo il modo completo vue 
//new Vue ({ el:'#app'});

var data = {
  a: 1 , 
  msg : 'benvenuto', 
  rawHtml:'<span style="color:red">this text should be red</span>', 
  dynamicId:'id_prova' ,
  //   il bottone non sara rendirizzato da vue quando disabled e false , null , undefined 
  isButtonDisabled: undefined , 
  // isButtonDisabled:'disabled',  
  seen:false, 
  url: 'ciao',
  doSomethings : 'vuoto',
  attributename : 'href' ,  // usato nel test attributi dinamici
  event : 'click' ,
  click : 0 , 
  posts : [
    { id: 1, title: 'My journey with Vue' , content:"content 1" , publishedAt:"today 1 " , comments : "comments 1"},
    { id: 2, title: 'Blogging with Vue' , content:"content 2" , publishedAt:"today 2 " , comments : "comments 2"},
    { id: 3, title: 'Why Vue is so fun' , content:"content 3" , publishedAt:"today 3 " , comments : "comments 3"},
  ],
  postFontSize: 1,
}

var vm = new Vue({
  el: '#app',
  data: data,
  created: function () {
  },
  computed : {

  },
  methods : {

  },
  watch :{

  },
})

var data2 = {
  a: 1 , 
  msg : 'benvenuto', 
  rawHtml:'<span style="color:red">this text should be red</span>', 
  dynamicId:'id_prova' ,
  //   il bottone non sara rendirizzato da vue quando disabled e false , null , undefined 
  isButtonDisabled: undefined , 
  // isButtonDisabled:'disabled',  
  seen:false, 
  url: 'ciao',
  doSomethings : 'vuoto',
  attributename : 'href' ,  // usato nel test attributi dinamici
  event : 'click' ,
  click : 0 , 
  posts : [
    { id: 1, title: 'My journey with Vue' },
    { id: 2, title: 'Blogging with Vue' },
    { id: 3, title: 'Why Vue is so fun' },
  ],
}

var vm2 = new Vue({
  el: '#app_2',
  data: data2,
  created: function () {
  },
  computed : {

  },
  methods : {

  },
  watch :{

  },
})

</script> 

</body>
</html>
