<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div id="app" class="container">
      <div>
        <h2> La direttiva v-for  </h2>
        <strong> 2 parametri : element , index </strong>
        <p v-show="hide">
          {{ variable_for_cycle = 0 }}
        </p>
        <h4> in array count value : {{ array.length }} </h4>
        <p v-for="arr in array" v-bind:key="arr.name">
        element array {{ variable_for_cycle_increment(variable_for_cycle) }} : {{ arr.name }}
        </p>
        <hr><br>

        <h2> La direttiva v-for  </h2>
        <strong> 2 parametri : element , index </strong>
        <p> la direttiva v-for support un secondo parametro opzione che e l'indice </p>
        <p> in alternativa invece di in possiamo usare of per avvicinarci alla sintassi degli iterati js .</p> 
        <h4> in array count value : {{ array.length }} </h4>
        <p v-for="(arr , index)  of array" v-bind:key="index">
        element array {{ index }} : {{ arr.name }}
        </p>
        <hr><br>

        <h2> v-for con gli oggetti  </h2>
        <strong> 3 parametri : value , key_object or name , index </strong>
        <p> possiamo usare la direttiva v-for per scorrere gli elementi di un oggetto </p>
        <p> </p> 
        <p v-for="value in object" >
          {{ value }}
        </p>
        <hr><br>

        <h2> v-for con gli oggetti  </h2>
        <strong> 3 parametri : value , key_object or name , index </strong>
        <h2> key e una direttiva di un api </h2>
        <p> la key viene usata per tracciare l'identita di ciascun nodo e riuilizzare e riodinare gli elementi esistenti , rendendo necessario avere un <strong> attributo key univoco  </strong></p>
        <p> possiamo usare la direttiva v-for per scorrere gli elementi di un oggetto </p>
        <p> anche qui possiamo passare un secondo parametro (in questo caso name ) , che possiamo usare come key  </p>
        <p> inoltre possiamo passare un terzo parametro ovvero l'Indice (index) , che possiamo usare come key  </p>
        <p> </p> 
        <p v-for="(value , name , index )  in object" v-bind:key="value.id">
        {{index }} | {{ name }} : {{ value }}
        </p>
        <p><strong>quando si esegue l'iterazione di un oggetto , l'ordine su cio si base l'enumerazione di Object.Keys() <br>
        non garantito sia coerente tra le implementazioni del motere javascript  </strong></p>
        <hr><br>

        <h2> vue e gli array </h2>
        <p> vue avvolge i metodi di mutazione dell'array osservando se ci sono cambiamenti , sui metodi : </p>
        <p> push , pop , shift ,unshift , </p> 
        <p> splice , sort , reverse  </p>
        <p v-for="(value , name , index )  in array_test" v-bind:key="index">
        {{index }} {{ name }} : {{ value }}
        </p>
        <hr><br>

        <h2> vue e la sostituzione di un array </h2>
        <p> ci sono anche dei metodi non mutanti per l'array ma che lo sostituiscono , cioe non mutano un array ma lo sostiuscono <strong> sempre con un nuovo array </strong> </p>
        <p> vue non butta via il vecchio dom , ma grazie a delle tecniche euristiche inteligenti per massimizzare il riutilizzo degli elementi del dom </p>
        <p> quindi sostiuire un array con un atro è efficace </p>
        <p>a causa delle limitazioni di javascript esistono tipi di modifiche che vue non e in grado di rilevare con array e oggetti </p>
        <h3> Avvertenze : </h3>
        <p>per vederli segui il seguente link ( https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats ) </p>
        <p v-for="(value , name , index )  in array_test" v-bind:key="index">
        {{index }} {{ name }} : {{ value }}
        </p>
        <hr><br>

        <h2> vue e sostizione array con filtro e riodinati  </h2>
        <p> filtro e riordino di un array , senza modificare quello esistente  </p>
        <p v-for="value in number_computed" >
         {{ value }}
        </p>
        <hr><br>

        <h2> vue e v-for annidati   </h2>
        <p> in caso di loop (v-for ) nidificati non possiamo usare le computed ma paossiamo usare i methods </p>
        <p> i for anninadati non funzionano cal tag p </p>
        <ul v-for="num in number_array_2" >
          <li v-for="value in number_methods(num)" >
          {{ value }}
          </li>
        </ul>
        <hr>
        <div> <h2>in alternativa puoi provare con i div </h2></div>
        <div v-for="num in number_array_2" >
          <div v-for="value in number_methods(num)" >
          {{ value }}
          </div>
        </div>
        <hr><br>

        <h2> vue e v-for con interi   </h2>
        <p> su vue js puoi usare anche degli interi nel v-for , in questo caso vue ripettera il modello molte volte </p>
        <div v-for="test in 10" >
          {{ test }}
        </div>
        <hr><br>

        <h2> vue e v-for e i template   </h2>
        <p> su vue js puoi usare anche dei template , in questo caso vue ripettera il modello molte volte </p>
        <template>
          <div v-for="test in 10" >
            {{ test }}
            <p class="divider" role="presentation"></p>
          </div>
        </template>
        <hr><br>

        <h2> v-for e v-if   </h2>
        <p> se posizionati sullo stesso nodo <strong> v-for ha una priorita maggiore di v-if </strong>, cio significa che v-if sara eseguito separatamento su ciascun interazione del ciclo   </p>
        <p> questo puo essere utile quando <strong> si desidera eseguire il render dei nodi solo per alcuni elementi </strong> </p>
          <div v-for="num in array_number" v-if="!array_number.isCompleted">
            {{ num }}
          </div>
        <hr><br>

      <h2> v-for e v-if   </h2>
      <p> per eseguire il rendering condizionale del ciclo ci basta posizionare <strong> la direttiva v-if al nodo sopra v-for , con un wrapper (contenitore) o template </strong> </p>
      <div v-if="array_number.length " >
        <div v-for="num in array_number" >
          {{ num }}
        </div>
      </div>
      <div v-else>No left array_number!!! </div>
      <hr><br>

      <h2> v-for e i componenti </h2>
      <p>possiamo usare un v-for anche con i componenti vue </p>
      <div>
        <my-component v-for="(item) in array" v-bind:key="item.name"> test componente <br> <my-component>
        <hr>  
      </div>
      <hr><br>

      <h2> v-for e i componenti </h2>
      <div>
        <p>il motivo per cui non viene iniettato automaticamente  iniettato v-for nell componete e perche cio rende il componente strettamente accoppiato a come v-for funziona </p>
        <p> quando usiamo i v-for con i componenti e meglio essere espliciti sulla provenieza dei dati da passare 
          in modo da poter riusare il componenete il piu possibile </p>
        <my-component 
        v-for="(item,index) in array_2_element" 
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item.name"
        > test componente <br> <my-component>
      </div>
      <hr><br>

      <h2> v-for e i componenti </h2>
      <div>
        <p>il motivo per cui non viene iniettato automaticamente  iniettato v-for nell componete e perche cio rende il componente strettamente accoppiato a come v-for funziona </p>
        <p> quando usiamo i v-for con i componenti e meglio essere espliciti sulla provenieza dei dati da passare 
          in modo da poter riusare il componenete il piu possibile </p>
        <my-component 
        v-for="(item,index) in array_2_element" 
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item.name"
        > test componente <br> <my-component>
      </div>
      <hr><br>

      </div>
    </div>
    
  <div class="container">
    <hr>
    <h2>inizio seconda istanza vue vm2</h2>
    <hr>
    <h2> v-for e i componenti esempio  </h2>
    <div>
      <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
          <label for="new-todo"> add a todo </label>
          <input type="text" 
          v-model="newTodoText"
          id="new-todo"
          placeholder="E.g. Feed to cat "
          >
          <button type="button" class="btn btn-primary"> add</button>
        </form>
        <ul>
          <li
          is="todo-item"
          v-for="(todo,index ) in todos "
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index,1)"
          ></li>
        </ul>
      </div>
    </div>
    <hr><br>

    <h2>vue e le instanze multiple </h2>
    <p>puoi eseguire instanze multiple di vue dentro la stessa pagina l'importatne e separare le due instanze di vue 
      e mettere gli id a cui fanno riferimenti in posizioni separate per legare l'istanza corretta di vue </p>
    <br><hr>
    <h2>vue e is attributo </h2>
    <p> l'attrributo is ="todo-item " e necessario nei modelli DOM , perche solo un elemento li e valido dentro un tag ul  </p>
    <p> fa la stessa cosa di <todo-item> ma aggira un potenziale errore di analisi del browser </p>
    <br><hr>
  </div>


<!-- bootstrap 5 cdn js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jqeruy cdn  -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <!-- vue js cdn  -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>   

<!-- script vue -->
<script>
var data = {
  a: 1 , 
  msg : 'benvenuto', 
  rawHtml:'<span style="color:red">this text should be red</span>', 
  dynamicId:'id_prova' ,
  //   il bottone non sara rendirizzato da vue quando disabled e false , null , undefined 
  isButtonDisabled: undefined , 
  // isButtonDisabled:'disabled',  
  seen: false , 
  url: 'ciao',
  doSomethings : 'vuoto',
  attributename : 'href' ,  // usato nel test attributi dinamici
  event : 'click' , 
  array:
  [
    { name : 'foo'  } ,
    { name : 'bar'  } ,
    { name : 'land'  } ,
    { name : 'terrain' } ,
  ] ,
  variable_for_cycle : '' ,
  hide: false ,
  object : {
    id : 14 ,
    name : 'test_name' ,
    surname : 'test_surname' ,
    day : 20 ,
  } , 
  array_test:
  [
    { id : 'test' , name : 'test'  } ,
  ] ,
  array_number : [ 1,2,3,4,5,6,7,8 ] ,
  number_array_2 : [[ 1,2,3,4,5,6,7,8 ] , [ 9,10,11,12,13,14,15 ]],
  array_2_element : [1,2] , 


}

Vue.component('todo-item' , { 
  template : '\
  <li>\
    {{ title }}\
    <button type="button" class="btn btn-danger"  v-on:click="$emit(\'remove\')">Remove</button> \
  </li> \ ',
  props : ['title'] ,
})

Vue.component('my-component' , { 
  template : '\
  <li>\
    test componenet \
  </li> \ ',
  props : ['title'] ,
})

var vm2= new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText : '',
    todos : [ 
      {
      id: 1,
      title: 'Do the dishes',
      },
      {
      id: 2,
      title: 'Take out the trash',
      },
      {
      id: 3,
      title: 'Mow the lawn',
      },
    ] ,
    nextTodoId : 4 ,
  },
  methods : {
    addNewTodo : function () {
      this.todos.push({
        id: this.nextTodoId++,
        title : this.newTodoText
      })
      this.newTodoText = ''
    }
  },
});

var vm = new Vue({
  el: '#app',
  data: data,
  created: function () {
  },
  methods :{
    variable_for_cycle_increment(variable_for_cycle){
      this.variable_for_cycle = this.variable_for_cycle + 1 
      return this.variable_for_cycle 
    },
    number_methods : function (num) {
      return num.filter(function (number) {
        return number % 2 === 0
      })
    },
  },
  computed : {
    number_computed : function(){
      return this.array_number.filter(function(number){
        return number % 2 === 0
      })
    },
  },
})

// vue avvolge i metodi di mutazione dell'array osservando se ci sono cambiamenti , sui metodi :
// push , pop , shift ,unshift ,
// splice , sort reverse 
vm.array.push({ name: 'element add form javascript ' })
vm.array_test.push({ id : 2 , name: 'test javascript' })
// value e una variabile locale per la funzione possiamo dargli qualsiasi nome 
vm.array_test = vm.array_test.filter(function (value){
  return value.name.match(/test/)
})

</script> 

</body>
</html>
