<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    <div id="app" class="container">
        <h2>direttiva v-if</h2>
        <p> la direttiva v-if indica se eseguire o meno un rendering in base al valore di una variabile </p>
        <div>
            <p>variable isAwesome value : {{ isAwesome }}</p>
            <p v-if="isAwesome">vue is awesome</p>
            <p v-else="isAwesome">oh no , vue not awesome</p>
            <hr>
            <p>variable isAwesome2 value : {{ isAwesome2 }}</p>
            <p v-if="isAwesome2">vue is awesome</p>
            <p v-else="isAwesome2">oh no , vue not awesome</p>
        </div>
        <hr><br>
        <h2>direttiva v-if con template </h2>
        <p> i template sono dei tag di vue al rendirizzamento il tag template scompare  </p>
        <p> i template sono un elemento, che funge da involucro invisibile</p>
        <div>
            <template v-if="isAwesome">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </template>
        <br><hr> 
        <h2>la direttiva v-else </h2>
        <p> un v-else deve seguire un v-if o un v-else-if altrimenti non sara riconosciuto  </p>
        <p> la direttiva v-else indica un blocco else nel caso in cui non entriamo nel v-if  </p>
        <div>
            <p>variable isAwesome2 value : {{ isAwesome2 }}</p>
            <p v-if="isAwesome2">vue is awesome</p>
            <p v-else="isAwesome2">oh no , vue not awesome</p>
            <h3>math random nel v-if</h3>
            <p>math random value : {{ variable_random }}</p>
            <p v-if="variable_random >= 0.5 "> Now you see me </p>
            <p v-else> Now you don't</p>
        <br><hr> 
        <h2>la direttiva v-else-if </h2>
        <p> simile al v-else ma deve seguire il v-if o un v-else-if   </p>
        <p> la direttiva v-else-if indica un blocco v-else-if nel caso in cui non entriamo nel v-if  </p>
        <div>
            <p>variable type value : {{ type }}</p>
            <p v-if="type === 'a'"> type is a </p>
            <p v-else-if="type === 'b'"> type is b </p>
            <p v-else-if="type === 'c'"> type is c </p>
            <p v-else > type not a/b/c </p>
            <hr>
            <p>variable type_2 value : {{ type_2 }}</p>
            <p v-if="type_2 === 'a'"> type_2 is a </p>
            <p v-else-if="type_2 === 'b'"> type_2 is b </p>
            <p v-else-if="type_2 === 'c'"> type_2 is c </p>
            <p v-else > type_2 not a/b/c </p>
        <br><hr>
        <h2>la direttiva key </h2>
        <p>vuejs punta all'efficenza . </p>
        <p>spesso riutilizzando gli elementi invece di renderli da 0</p>
        <p>la direttva key serve per diffrenziare degli elementi , e per effettuare un reder da 0 dell'elemento  .</p>
        <div>
          <hr>
          <p>elementi senza la key di vue </p>
          <template v-if="user_access === 'login' ">
            <label>Username</label>
            <input placeholder="Enter your username" >
           </template>
           <template v-else>
              <label>Email</label>
              <input placeholder="Enter your Email" >
           </template> 
           <br><br>
           <p>new_user value : {{ user_access }}</p>
           <button type="button" @click="user_access='new_user'">Change value of user_access</button><br>
           <hr>
           <p>elementi con la key di vue </p>
           <template v-if="user_access2 === 'login' ">
            <label>Username</label>
            <input placeholder="Enter your username" key="Username-input">
           </template>
           <template v-else>
              <label>Email</label>
              <input placeholder="Enter your Email" key="Email-input">
           </template> 
           <br><br>
           <p>user_access2 value : {{ user_access2 }}</p>
          <button type="button" @click="user_access2='new_user'">Change value of user_access2</button><br>
        <br><hr> 
        <h2>la direttiva v-show </h2>
        <p>la direttiva v-show reindirizza e aggiuge gli elementi al dom e gioca sulla propieta css per mostrare o meno l'elemento </p>
        <p> la direttiva v-show non supporta con i tag vue :  tempalte e v-else  </p>
        <div>
            <p v-show="test_v_show"> test v-show show</p>
            <p v-show="test_v_show2"> test v-show hide  </p>
            <hr>
        <br><hr>
        <h2>la direttiva v-show nel tempalte e v-else </h2>
        <div>
            <p>elementi con la key di vue </p>
            <p v-show="test_v_show">prima del template test v-show show</p>
            <template v-if="user_access2 === 'login' ">
              <p v-show="test_v_show"> nel tempalte test v-show show</p>
              <label>Username</label>
              <input placeholder="Enter your username" key="Username-input">
             </template>
             <template v-else>
                <p v-show="test_v_show"> nel v-else test v-show show</p>
                <label>Email</label>
                <input placeholder="Enter your Email" key="Email-input">
             </template> 
             <br><br>
             <p>user_access2 value : {{ user_access2 }}</p>
            <button type="button" @click="user_access2='new_user'">Change value of user_access2</button><br>
            <hr>
        <br><hr>
        <h2>v-if VS v-show </h2>
        <div>
          <h2>la direttiva v-if</h2>
          <p>la direttiva v-if è il rendering condizionale "reale" perche garantisce che il listener di eventi e il componente figlio <br>
          all'interno del blocco condizionale vengano correttamente distrutti e ricreati durante le alternanze  </p>
          <p>la direttiva v-if e anche pigra , ovvero se la condizione e false durante il rendering iniziale non fara nulla <br>
          e il blocco di codice non sara visualizzato(render di vue ) finche la condizione non sara vera per la prima volta </p>
          <p>v-show invece visulizza sempre un elemento ma lo mostra o nasconde usando le propieta css </p>
          <h2>Le Differenze </h2>
          <p>v-if ha costi commutazionali piu elelvati mentre v-show ha costi di render iniziali piu elevati </p>
          <p> <strong> scegliamo v-show </strong> se dobbiamo cambiare qualcosa molto spesso </p>
          <p> <strong>scegliamo v-if </strong> se la condizione e improbabile che cambi in fase di esecuzione </p>
          <h2>Consigli</h2>
          <p>e altamente sconsigliato usare la direttiva v-if e v-for insieme .</p>
          <p> tra v-if e v-for , <strong> v-for ha una priorita maggiore </strong> .</p>
        </div>
        <br><hr>

    </div>

<!-- bootstrap 5 cdn js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jqeruy cdn  -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <!-- vue js cdn  -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>   

<!-- script vue -->
<script>
var data = {
    a: 1 , 
  msg : 'benvenuto', 
  rawHtml:'<span style="color:red">this text should be red</span>', 
  dynamicId:'id_prova' ,
  //   il bottone non sara rendirizzato da vue quando disabled e false , null , undefined 
  isButtonDisabled: undefined , 
  // isButtonDisabled:'disabled',  
  seen:false, 
  url: 'ciao',
  doSomethings : 'vuoto',
  attributename : 'href' ,  // usato nel test attributi dinamici
  event : 'click' , 
  isAwesome: true  ,
  isAwesome2: false ,
  type : 'd' ,
  type_2 : 'c' ,
  variable_random : Math.random() ,
  user_access : 'login' ,
  user_access2 : 'login' ,
  test_v_show : 'ok' ,
  test_v_show2 : false ,
}
var vm = new Vue({
  el: '#app',
  data: data,
  created: function () {
  },
})


</script> 

</body>
</html>